/* starting of navigation bar */

main{
    max-width: 1440px;
   
}

.navigation{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-title{
    display: flex;;
    /* width:100% */
    
}
/* .header-title img{
    width:100%
} */

.navigation-content ul{
    display: flex;
    list-style:none;
    gap:10px;
  
}
.navigation-content a{
    text-decoration: none;
    color:black
}
.menu-icon{
    display: none; 
}

/* end of navigation bar */





/* starting of explore part */

.explore-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.input-contaner{
    display: flex;
    gap:10px;
}
.input-contaner input{
   
    height:30px;
}
.find-now img{
    width: 15px;
}
.find-now a{
    
    font-size: 18px;
    padding:5px
    
}

.explore-container{
    color:rgb(255, 255, 255);
    background-image: url("Images/Group-13.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 400px;
}

.input-contaner{
    margin: 0 auto;
}


/* stating of popular tours here */
.popular-tours-container{
    display: flex;
}
.popular-imgaes img{
width: 100%;
}
.popular-tours{
    width: 60%;
}

/* image container starting here */

.choose-your-destination-content{
    text-align: center;
}
.box1{
    grid-area: a;
}
.box2{
    grid-area:b;
}
.box3{
    grid-area:c;
}
.box4{
    grid-area:d;
}
.box5{
    grid-area:e;
}
.box6{
    grid-area: f;
}
.box7{
    grid-area:g;
}

.image-container img{
    width: 100%;
}
.image-container{

    display: grid;
    grid-template-areas: 
    'a a a a a a b b b b b b'
    'c c c c d d d d d e e e'
    'f f f f f g g g g g g g';
    gap: 10px;



}

.image-container >div > img {
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.why-choose-use-content{
    text-align: center;
}

.handpiked-hotel-cards{
    /* border: 1px solid tomato; */
    background-color: rgba(255, 68, 0, 0.225);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;

}

.handpiked-card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    align-items: center;

}

.last-card{
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
}


.deals-card{
    padding: 20px;
    bottom: 300px;
    background-color: #ffffffa6;
    border-radius: 10px;
    position: relative;
    left: 40%;
    width: 500px;

}


#footer-container{
    display: inline;
    text-align: center;
}
#footer-tittle{
    margin-left: 40vw
}
.social-link ul{
    display: flex;
    justify-content: center;
    gap:10px;
}
.social-link li{
    /* display: flex; */
    list-style: none;
   
}
footer{
    background-color: #1313181e;
}
.find-now button{
    background-color: orangered;
    color:whitesmoke;
    border:none;
    border-radius: 10px;
    padding: 10px;

}

#subscribe-btn{
    background-color: orangered;
    color:whitesmoke;
    border:none;
    border-radius: 10px;
    padding: 10px;

}

.neweletter-subscribe{
    border:1px solid orangered;
    border-radius: 10px;
    padding:20px
}
.newsletter-container{
    display: flex;
    width: 100%;
    gap:10px
}
.newletter-input input{
    margin-bottom: 10px;
    display: flex;
}

/* responsive design for small device */
@media screen  and (max-width:568px){


    .newsletter-container{
        flex-direction: column;
    }
    .thumbnail img{
        width: 100%;
    }
    
    .deals-card {
        padding: 8px;
        bottom: 229px;
        background-color: #ffffffa6;
        border-radius: 10px;
        position: absolute;
        left: 5%;
        width: 191px;
        top: 435%;
        height: 250px;
    }

    .navigation-content ul{
        display: none;
    }
    .menu-icon{
        display: inline;
    }
    
    #menu-icon-mobile {
        width: 35px;
        margin-top: 1rem;
    }
    .input-contaner {
        display: flex;
        gap: 10px;
        flex-direction: column;
        width: 60%;
    
    }
    .popular-tours-container{
        flex-direction: column;
    }

    .deals-discounts img {
        width: 100%;
    }
    .deals-discounts{
        display: block;
        width: 100%;
    }




    
}